<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html></html>
<head>
  <title>Noted | Dont forget ideas</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar">
      <%= link_to "Noted", root_path, id: "logo" %>
      <ul>
        <% if user_signed_in? %>
         <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navitems"%></li>
         <li><%= link_to "New Note", new_note_path, class: "navitems" %></li>
        <% else %>
          <li><%= link_to "Login", new_user_session_path, class: "navitems"%></li>
        <% end %>
     </ul>
    </nav>

  <p class="alert">
    <%= alert %>
  </p>
  <%= yield %>
</body>
